# --- CONFIGURACIÓN GLOBAL ---
PROYECTO_NOMBRE=QualityDoc-Polyglot
# 🚀 Poner la IP del servidor de producción (Ej. 192.168.1.50)
IP_DEL_SERVIDOR_DEL_PROFE=tu_ip_de_produccion_aqui

# Puerto web del sistema (Cambiar a 8080, 8000, etc. si el 80 está ocupado)
APP_PORT=80

# --- SQL SERVER (.NET CORE) ---
SQL_SERVER_PASSWORD=TuPasswordSeguro123!
SQL_SERVER_USER=sa

# --- POSTGRESQL (PHP) ---
POSTGRES_DB=quality_audit
POSTGRES_USER=admin
POSTGRES_PASSWORD=tu_password_postgres_aqui

# --- MONGODB (PYTHON FASTAPI) ---
MONGO_INITDB_ROOT_USERNAME=mongo_admin
MONGO_INITDB_ROOT_PASSWORD=tu_password_mongo_aqui

# --- LARAVEL (PHP) ---
# 🚀 Cadena aleatoria larga para firmar los tokens
LARAVEL_JWT_SECRET=tu_secreto_jwt_aqui

# --- CREDENCIALES DE CORREO (.NET) ---
SMTP_EMAIL=tu_correo_aqui@gmail.com
SMTP_PASSWORD=tu_password_de_aplicacion_aqui
