# --- CONFIGURACIÓN GLOBAL ---
PROYECTO_NOMBRE=QualityDoc-Polyglot

# --- SQL SERVER (.NET CORE) ---
SQL_SERVER_PASSWORD=TuPasswordSeguro123!
SQL_SERVER_USER=sa

# --- POSTGRESQL (PHP) ---
POSTGRES_DB=quality_audit
POSTGRES_USER=admin
POSTGRES_PASSWORD=audit_pass_456

# --- MONGODB (NODE.JS) ---
MONGO_INITDB_ROOT_USERNAME=mongo_admin
MONGO_INITDB_ROOT_PASSWORD=mongo_pass_789

# --- PUERTOS DE ACCESO ---
PORT_DOTNET=8080
PORT_PHP=80
PORT_NODE=3000