:root {
    /* Paleta de colores base de QualityDoc */
    --color-primary: #754ee5; 
    --color-primary-hover: #5e3ab8; 
    --color-bg-light: #FAFAFA; 
    --color-bg-dark: #2a2b2e; 
    --color-surface-light: #ffffff; 
    --color-surface-dark: #1e293b; 
    --color-text-light: #0f172a; 
    --color-text-dark: #f8fafc; 
}

html.dark {
    --color-primary: #baa5ff; 
    --color-primary-hover: #a48aed; 
}

/* El fondo base de la aplicación */
body {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
    transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}